language: ruby
rvm:
  - 2.3.0
addons:
  code_climate:
      repo_token: af4df97360b90d2c0c8737e0ab48899edf6bfe5a8a75a0857369a446e5f79a3d
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql
script: 
  - RAILS_ENV=test bundle exec rails db:migrate --trace
  - bundle exec rails db:test:prepare
  - bundle exec rspec spec/
before_script:
  - mysql -e 'create database kuruka_test'
  - psql -c 'create database kuruka_test' -U postgres
bundler_args: --binstubs=./bundler_stubs