.feedback {
  position: absolute;
  opacity: 0;
}

#ticket {
  width: 350px;
  background: #f0f8ff;
  min-height: 500px;
  padding: 15px;
  margin: 20px auto;
}

@media only screen and (max-width : 768px) {
  #ticket {
    width: auto;
    height: auto;
  }
}

#ticket:after {
  content: '';
  display: block;
  position: relative;
  clear: both;
}

#ticket > .row:first-child:before, #ticket > .row:first-child:after {
  background-color: #ffffff;
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 0;
  margin-bottom: -10px;
}
#ticket > .row:first-child:before {
  left: 0;
  margin-left: -10px;
}
#ticket > .row:first-child:after {
  right: 0;
  margin-right: -10px;
}

.logo {
  width: 120px;
}

.row {
  position: relative;
  padding: 20px;
}
.row.perforated {
  border-bottom: 1px dashed #ddd;
}
.row.destinations:after, .row.normRow:after {
  content: '';
  clear: both;
  display: block;
}

.ticket-label {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
}

.airport {
  font-size: 32px;
}

.city {
  font-size: 12px;
  text-transform: uppercase;
}

.ticket-right {
  float: right;
  text-align: right;
}

.ticket-left {
  float: left;
  text-align: left;
}

svg#plane {
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  margin-top: 15px;
  opacity: 0.5;
  display: inline-block;
}

.smalltext {
  display: inline-flex;
  padding: 10px 0;
  span {
    font-size: 14px;
    opacity: 0.7;
  }
}

.col {
  font-size: 21px;
  padding: 0;
}

.normRow {
  padding-bottom: 0;
}

#qr {
  float: right;
  width: 80px;
  position: relative;
  right: -5px;
  bottom: 5px;
  margin-left: 10px;
}

#qrcode {
  float: right;
  img {
    width: 80px;
  }
}

.ticket-tab.nav > li > a {
  border: none;
  border-bottom: solid 3px transparent;
}

.ticket-tab.nav-tabs > li.active > a,
.ticket-tab.nav-tabs > li.active > a:hover,
.ticket-tab.nav-tabs > li.active > a:focus {
    border: none;
    border-bottom: solid 3px #00aeef;
}

.ticket-tab.nav > li > a:hover,
.ticket-tab.nav > li > a:focus {
  background: none;
  border: none;
  border-bottom: solid 3px #c9f0ff;
  color: #333;
}