.notify {
  position: fixed;
  top: 40px;
  left: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
}

.alert {
  border: none;
  padding: 10px;
}

/* Positions
========================================================================== */
.notify-top-right,
.notify-bottom-right {
  left: auto;
  right: 10px;
}
.notify-top-center,
.notify-bottom-center {
  left: 50%;
  margin-left: -175px;
}
.notify-bottom-left,
.notify-bottom-right,
.notify-bottom-center {
  top: auto;
  bottom: 10px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 479px) {
  .notify {
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
}

/* Sub-object: `notify-message`
========================================================================== */
.notify-message {
  position: relative;
  cursor: pointer;
}

.notify .alert-default {
  background: #fff;
  border: 1px solid #e5e5e5;
}

.notify-message.alert.alert-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.notify-message.alert.alert-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.notify-message.alert.alert-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.notify-message.alert.alert-error {
    color: #D8000C;
    background-color: #FFBABA;
}