.notify {
  position: fixed;
  top: 40px;
  left: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 350px;
}

.alert {
  border: none;
  padding: 10px;
}

/* Positions
========================================================================== */
.notify-top-right,
.notify-bottom-right {
  left: auto;
  right: 10px;
}
.notify-top-center,
.notify-bottom-center {
  left: 50%;
  margin-left: -175px;
}
.notify-bottom-left,
.notify-bottom-right,
.notify-bottom-center {
  top: auto;
  bottom: 10px;
}

/* Responsiveness
========================================================================== */
@media (max-width: 479px) {
  .notify {
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
  }
}

/* Sub-object: `notify-message`
========================================================================== */
.notify-message {
  position: relative;
  cursor: pointer;
}

.notify .alert-default {
  background: #fff;
  border: 1px solid #e5e5e5;
}

.notify-message.alert.alert-info {
    color: #ffffff;
    background-color: #2fa9f6;
}
.notify-message.alert.alert-success {
    color: #ffffff;
    background-color: #07B3A1;
}
.notify-message.alert.alert-warning {
    color: #ffffff;
    background-color: #f6ca2f;
}
.notify-message.alert.alert-danger {
    color: #ffffff;
    background-color: #f64b2f;
}
.notify-arrow {
    text-align: center;
    position: absolute;
    margin: auto;
    top: 0;
    left: 30px;
    width: 20px;
    height: 20px;
    color: #0f93db;
    font-size: 15px;
    line-height: 20px;
    -webkit-animation: bounce 2s infinite ease-in-out;
    span {
      display: inline-block;
      margin: -20px;
    }
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}