<% content_for :title do %>
  Manage Bookings
<% end %>
<%= render partial: "users/page_heading", locals: {heading: 'Manage Bookings'} %>

<div class="container">
  <div class="col-md-12">
    <div class="row table-content">
      <div class="table-responsive">
        <h3>Use the booking reference number on your ticket to retrive bookings here.</h3>
      </div>
    </div>
  </div>
  <div class="col-md-12">
      
  </div>
</div>

