<div class="stars">
    <span class="star a"></span>
    <span class="star b"></span>
    <span class="star c"></span>
    <span class="star d"></span>
</div>
<div class="birds">
    <span class="bird a"></span>
    <span class="bird b"></span>
    <span class="bird c"></span>
    <span class="bird d"></span>
    <span class="bird e"></span>
    <span class="bird f"></span>
</div>
<div class="plane">
    <div class="wings">
        <div class="sparkle"></div>
        <div class="fans">
            <span class="fan fan-left-small"></span><span class="fan fan-left-big"></span>
            <span class="fan fan-right-small"></span><span class="fan fan-right-big"></span>
        </div>
    </div>
    <div class="wheels">
        <div class="stand"><span class="wheel"></span></div>
        <div class="stand"><span class="wheel"></span></div>
        <div class="stand"><span class="wheel"></span></div>
    </div>
</div>
<div class="landed-plane">
    <div class="plane-small a"><div class="tail"></div><div class="wing"></div><div class="wheel"></div></div>
    <div class="plane-small b"><div class="tail"></div><div class="wing"></div><div class="wheel"></div></div>
    <div class="plane-small c"><div class="tail"></div><div class="wing"></div><div class="wheel"></div></div>
</div>
                    
<section id="home-slider">
    <main>
        <div class="container">
            <div class="row">
                <div class="main-slider">
                <div class="col-md-5 col-sm-12">
                    <div class="slide-text">
                        <h1>Let's Fly, Fly Away</h1>
                        <p>Don't think about the journey... We have it all figured out!</p>
                        <a href="#" class="btn btn-common" data-toggle="modal" data-target="#loginModal">SIGN IN</a>
                    </div>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <%= render 'layouts/booking_form' %>
                    </div>
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>
    <div class="cd-overlay"></div>
</main>

<div class="cd-member-bio member-1">
        <div class="cd-bio-content">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div id="js_date_selection" class="horizontal-scrollable-tabs">
                <div class="scroller arrow-left"><i class="fa fa-chevron-left"></i></div>
                <div class="scroller arrow-right"><i class="fa fa-chevron-right"></i></div>
                <div class="horizontal-tabs">
                  <ul role="tablist" class="nav nav-tabs nav-tabs-horizontal">
                    <li role="presentation" class="active">
                      <a href="#image01" data-toggle="tab">
                        <span class="day">Saturday<hr></span>
                        Jan 16
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image02" data-toggle="tab">
                        <span class="day">Sunday<hr></span>
                        Jan 17
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Monday<hr></span>
                        Jan 18
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image01" data-toggle="tab">
                        <span class="day">Tuesday<hr></span>
                        Jan 19
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Wednesday<hr></span>
                        Jan 20
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Thursday<hr></span>
                        Jan 21
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Friday<hr></span>
                        Jan 22
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Saturday<hr></span>
                        Jan 23
                      </a>
                    </li>
                    <li role="presentation">
                      <a href="#image03" data-toggle="tab">
                        <span class="day">Sunday<hr></span>
                        Jan 24
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="tab-content flight-content">
                <div id="image01" role="tabpanel" class="tab-pane fade in active">
                  <h2>January 16th, 2014</h2>
                  <table class="table">
                    <thead>
                        <tr class="">
                            <th>Flight</th>
                            <th>Booking</th>
                            <th>Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <body>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                        <tr>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                            <td>Hey</td>
                        </tr>
                    </body>
                </table>
                </div>
                <div id="image02" role="tabpanel" class="tab-pane fade">Hey</div>
                <div id="image03" role="tabpanel" class="tab-pane fade">Hey You</div>
              </div>
            </div>
          </div>
                  </div>
                </div> <!-- cd-bio-content -->
              </div> 

              <a href="#0" class="cd-member-bio-close fa fa-remove"></a>

              <section id="team">
            <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-7 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                            <h1 class="title">Upcoming Flights</h1>
                        </div>
                        <div class="col-sm-5 text-center wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="tour-button">
                                <a href="#" class="btn btn-common">VIEW ALL FLIGHTS</a>
                             </div>
                        </div>
                    </div>
                    <div id="team-carousel" class="carousel slide wow fadeIn" data-ride="carousel" data-wow-duration="400ms" data-wow-delay="400ms">
                        <!-- Indicators -->
                        <ol class="carousel-indicators visible-xs">
                            <li data-target="#team-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#team-carousel" data-slide-to="1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="blogdetails.html">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6">
                                    <div class="team-single-wrapper">
                                        <div class="team-single">
                                            <div class="person-thumb">
                                                <div class="post-content overflow">
                                                    <h2 class="post-title bold"><a href="#">Boeling 300</a></h2>
                                                    <h3 class="post-author"><a href="#">Lagos - Abuja</a></h3>
                                                    <p>Duis autem vel eum iriure dolor in hendrerit in</p>
                                                    <a href="#" class="read-more">24th October, 2016</a>
                                                    <div class="post-bottom overflow">
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="blogdetails.html"><i class="fa fa-ticket"></i>Book flight</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left team-carousel-control hidden-xs" href="#team-carousel" data-slide="prev">left</a>
                        <a class="right team-carousel-control hidden-xs" href="#team-carousel" data-slide="next">right</a>
                    </div>
                </div>
            </div>
        </section>

         <%= render "layouts/login_modal"%>

        <script type="text/JavaScript">
          $("#js_date_selection").horizontalTabs();
        </script>