@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import 'bootstrap-datetimepicker';
@import "custom/main";
@import "custom/form";
@import "custom/responsive";
@import "custom/dailyscroll";
@import "custom/login-register";
@import "custom/plane";
@import "custom/search_flight";
@import "custom/step-form";
@import "custom/animate.min";
@import "custom/notify";
@import "custom/bootstrap-year-calendar";
@import "custom/booking-ticket";