<script>
  $(function() {
    <% if flash %>
      $(function(){
        <% flash.each do |key, value| %>
          $.notify('<%= value %>', '<%= key %>');
        <% end %>
      });
    <% end %>

    $('#datetimepicker').datetimepicker({
      format: "YYYY-MM-DD"
    });

    $(document).ajaxStart(function(){
      $(".loader").css("display", "block");
    });

    $(document).ajaxComplete(function(){
        $(".loader").css("display", "none");
    });
    
    //Responsive Nav
    $('li.dropdown').find('.fa-angle-down').each(function(){
      $(this).on('click', function(){
        if( $(window).width() < 768 ) {
          $(this).parent().next().slideToggle();
        }
        return false;
      });
    });

    //Add active class to links on current URL
    $(function() {
      var path = window.location.pathname;
      $(".nav .nav-link").each(function(){
        if($(this).find('a').attr("href") == path || $(this).find('a').attr("href") == '' )
        $(this).addClass("active");
      });
    });

    //Initiate WOW JS
    new WOW().init();

    //Initialize popover
    $('[data-toggle="tooltip"]').tooltip();

    window.onload = function() {
      $('.main-slider').addClass('animate-in');
    };

    // Contact form
    var form = $('#main-contact-form');
    form.submit(function(event){
      event.preventDefault();
      var form_status = $('<div class="form_status"></div>');
      $.ajax({
        url: $(this).attr('action'),
        beforeSend: function(){
          form.prepend( form_status.html('<p><i class="fa fa-spinner fa-spin"></i> Email is sending...</p>').fadeIn() );
        }
      }).done(function(data){
        form_status.html('<p class="text-success">Thank you for contacting us. As early as possible  we will contact you</p>').delay(3000).fadeOut();
      });
    });

    // Progress Bar
    $.each($('div.progress-bar'),function(){
      $(this).css('width', $(this).attr('data-transition')+'%');
    });

    function floatLabel(inputType){
      $(inputType).each(function(){
        var $this = $(this);
        // on focus add cladd active to label
        $this.focus(function(){
          $this.next().addClass("active");
        });
        //on blur check field and remove class if needed
        $this.blur(function(){
          if($this.val() === '' || $this.val() === 'blank'){
            $this.next().removeClass();
          }
        });
      });
    }
    floatLabel(".floatLabel");

    // Geolocation
    var requestUrl = "http://ip-api.com/json";

    $.ajax({
      url: requestUrl,
      type: 'GET',
      success: function(location) {
        var city = location.city ? location.city : location.regionName;
        $('.location').html("How is " + city + ", " + location.country + " today? Want to go somewhere else?");
      },
      error: function(err) {
        $('.location').html("How's your day? Want to go somewhere fun today?");
      }
    });
  });
</script>