<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center bottom-separator"></div>
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <p>&copy; <%= image_tag "logo.png" %> <%= Time.now.year %>. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>